<div>
    <div class="setNav">
        <mat-nav-list>
            <mat-list-item>
                <mat-icon [ngStyle]="{'color':'whitesmoke'}"> dehaze</mat-icon>
            </mat-list-item>
            <mat-list-item *ngFor="let link of navLinks" class="navDeco">
                <a [routerLink]="link.path" [routerLinkActive]="active">
                    <mat-icon [ngStyle]="{'color':'whitesmoke','height':'30px'}"> {{link.label}} </mat-icon>
                </a>
            </mat-list-item>
        </mat-nav-list>
    </div>
    <app-header></app-header>

    <!-- <app-container></app-container> -->
    <!-- <app-footer-bar></app-footer-bar> -->
</div>


<router-outlet></router-outlet>
